
body{
    width: 8.27in;
    margin: auto;
    border: 1px solid black;
    
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.headline{
    display: flex;
}
.header{
    width:auto;
}
.htext{
    
   
    bottom: 1px;
    left: 110px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}
#udeg{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.c-info{

    text-align:left;
    border-left: 1px solid black;
    margin-left: 60px;
    padding-left: 5px;
  
}

#c-objective-id{
    padding-left: 10px;
}
  .eback{
      width: 100%;
      border-collapse: collapse;
  }
  .eback td, .eback th{
      padding: 5px 10px;
      border: 1px solid black;
      text-align: center;

  }
  #inst-name{
    text-align: left;
}
.pprofile td{
   
    padding-left: 10px;
}
.ref{
    display: flex;
  
}
.ref div{
   width: 50%;
    border: 0px solid black;
    padding-left: 10px;
}
.sub{
    margin-left: 50px;
}
#bcolor{
    background-image: linear-gradient(to right, rgb(40, 62, 63), rgb(180, 185, 185));
    color: white;
    text-indent: 10px;
}
#sbcolor{
    background-image: linear-gradient(to right, black, rgb(180, 185, 185));
    color: white;
    text-indent: 10px;
}

